<% provide(:title, "Contact") %>


 
    <h1>About</h1>
    <p>
      
      <a href="https://radw2020.github.io/">This is the sample application for 
      the tutorial</a>.  Ruby on Rails.
      
    </p>
